.login-container {
  text-align: center;
  padding: 20px 0;
  color: white;
  background-color: #0832d1;
}

.login-title {
  font-size: 3rem;
  color: black;
  --sw: 2px;
  --nsw: -2px;
  text-shadow: var(--sw) var(--sw) white, var(--nsw) var(--sw) white,
    var(--sw) var(--nsw) white, var(--nsw) var(--nsw) white;

  background-image: url("/public/BG.png");
  padding: 18px 0;
}

.input-error {
  color: red;
}

.input-container {
  display: block;
  margin-bottom: 20px;
}

input:focus {
  border: 4px solid yellow;
}

input {
  outline: 0;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 4px 4px #102883, -4px -4px #7285cc;
}

a {
  color: yellow;
  text-decoration: none;
}

a:visited {
  color: yellow;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}
