.text-canvas {
  background-color: var(--dark_blue);
  position: absolute;
  /* color: white; */
  z-index: 2;
}

.game-canvas {
  position: absolute;
}

.canvas-container {
  position: relative;
}

.modal-title {
  font-size: 30px;
}

.game-error {
  font-size: 40px;
  color: white;
  background-color: #0832d1;
  text-align: center;
}
