.text-canvas {
  color: black;
  background-color: lightskyblue;
  /* width: 800px;
  height: 40px; */
}

.game-canvas {
  /* width: 800px;
  height: 600px; */
  /* image-rendering: pixelated;
  animation: fix-image-rendering-bug 0.0001s; */
}
@keyframes fix-image-rendering-bug {
  from {
    opacity: 0.9999;
  }
  to {
    opacity: 1;
  }
}

/* .score-container {
  width: 800px;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-around;
} */
