.menu-container {
  text-align: center;
  background-color: #0832d1;
  color: white;
}

.title {
  font-size: 3rem;
  color: black;
  --sw: 2px;
  --nsw: -2px;
  text-shadow: var(--sw) var(--sw) white, var(--nsw) var(--sw) white,
    var(--sw) var(--nsw) white, var(--nsw) var(--nsw) white;

  background-image: url("BG.png");
  padding: 18px 0;
  margin: 0;
}

.button {
  outline: 0;
  font-family: inherit;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 4px 4px #102883, -4px -4px #7285cc;
}

.ratio-wrapper {
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 4 /3;
}
